<h1 class="text-center mt-4">Listing all categories</h1>
<div class="flickr_pagination ">   
    <%= will_paginate @categories, :container => false %>
  </div>
  <div class="container">
  <% @categories.each do |category| %>
  <div class="card text-center shadow mb-5 bg-white rounded mt-5">    
    <div class="card-body">
      <h5 class="card-title"><%= link_to category.name, category_path(category), class: "text-success" %></h5>
      <p class="card-text"><%= category.description %></p>    
      <%= link_to "View", category_path(category),class:"btn btn-outline-success"  %>
      <% if  current_user && current_user.admin? %>
      <%= link_to "Edit", edit_category_path(category),class:"btn btn-outline-info" %>
      <%= link_to "Delete", category_path(category), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?'},class:"btn btn-outline-danger" %>
      <% end %>
    </div>
    <div class="card-footer">
    Created at <%= time_ago_in_words(category.created_at)%> ago, Edited at <%= time_ago_in_words(category.updated_at)%> ago
    </div>
  </div>
  
  <% end %>
  
  <p><%= link_to "Create new category", new_category_path(), class:"text-success" %></p>
  </div>
<div class="flickr_pagination  mb-4">   
    <%= will_paginate @categories, :container => false %>
  </div>