<!DOCTYPE html>
<html>
  <head>
    <title>AlphaBlog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "custom", media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="d-flex flex-column">
  
  <%= render 'layouts/navigation' %>
  <% if flash.any? %>
  <div class="alert alert-success container" role="alert">
  <% flash.each do |type, msg|%>
    <%= msg %>
   <% end %> 
   </div>
   <% end %>
  <%= yield %>
  <%= render 'layouts/footer' %>
  </body>
</html>
